/* Title   #eb3b5a */
/* Body    #fc5c65 */

body {
  /*margin: 20px;*/
  white-space: nowrap;
  min-width:275px;
}

h3 {
  color: #FC427B;
}

#submitId {
  background-color: #428bca;
  padding: 2px 10px; 
  text-align: center; 
  border-radius: 8px;
  text-decoration: none; 
  display: 
  font-size: 14px;
  margin-left:15px; margin-right:15px; margin-top:3px; margin-bottom: 3px; 
  cursor: pointer; color:white;
}

.panel-heading {
  background-color: #FC427B;
  /*padding: 40px;*/
}

#icon {
	width: 15px;
	height: 15px;
}

.sliderForm {
  padding-left: 30px
  padding-right: 30px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
/*
input[type="range"]{
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.08, #94A14E),
        color-stop(0.08, #ea0505a8)
    );
}*/
/*
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
}
*/
#toxicitySlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgba(208, 26, 26);
  cursor: pointer;
}

#misinfoSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgb(252, 119, 36, 1);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}



@charset "UTF-8";
/* Modified Meyer Reset based on http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126   License: none (public domain)*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, b, em, img, input {
    margin: 0;padding: 0;border: 0;
    font: inherit; vertical-align: baseline;
}
body {line-height: 1.2;}
*, *:before, *:after {box-sizing: border-box;}
/* End Modified Meyer Reset*/

html {font-size:16px;}
:root {
    --headerfont: sans-serif;
    --mainfont: serif;
    --maincolor: #333;
    --accentcolor: rgb(0, 92, 20);
    --accentcoloralpha: rgb(5, 156, 55);
    --maxwidth: 800px;
    --lineheight: 1.3;
    --thumbsize: 40px;
    --tracksize: 300px;
    --trackheight: 28px;
    --trackradius: 6px;
    --innertrackradius: 4px;
}

body {background:var(--accentcolor);
-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-select: none;
}
/*Grid layout - also see media queries below*/
.wrapper {
  display:grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.header, .footer {
  grid-column: 1 / -1;
}
.content {
  display:grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
@media screen and (min-width: 768px) {
  html {font-size:18px;}
    .content {grid-template-columns: 2.5fr 1fr;}
}
/* #### Small Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  :root {--tracksize:240px;}
    .content {grid-template-columns: 1fr;}
  .customrange {opacity:0.2;}
  /*Range inputs on some mobile devices don't work well if the opacity  is set too low.*/
}

/* cosmetic styles */
.wrapper {
  margin:0 auto;
  padding:20px;
  background:white;
  max-width:var(--maxwidth);
  height:auto;
  text-align:center;
}
.rangepresenter {
  width:var(--tracksize);
  height:auto;
}
.rangepresenter.verticalsliders {
    max-width:calc(var(--tracksize)/2);
    min-height:calc(var(--tracksize) + 60px);
    position:relative;
 }
.rangewrapper {
  line-height:var(--lineheight);
  border:2px solid var(--maincolor);
  border-radius:var(--trackradius);
  margin:20px 0 40px 0;
  padding:0;
  position:relative;
  width:var(--tracksize);
  height:var(--trackheight);
  overflow:visible;
  background-color:rgb(255, 74, 74);
}
.rangewrapper.vertical{
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  position:absolute;
  top:calc( (var(--tracksize)/2) + 30px);
  left:-50%;
  margin:0;
}
.sliderfill {
  border:0 none;
  border-radius:var(--innertrackradius);
  margin:0;
  padding:0;
  height:100%;
}
.sliderthumb {
  width:var(--thumbsize);
  height:var(--thumbsize);
  background-size: 100% 100%;
    background-repeat: no-repeat;
  background-color:green;
  border-radius: 50%;
    position:absolute;
  left:0;
  top:calc(((var(--thumbsize) - var(--trackheight))/-2) - 2px);
  border:0 none;
  padding:0;
    pointer-events:none;
}
.slidervalue {
  width:var(--thumbsize);
  height:var(--thumbsize);
  line-height:var(--thumbsize);
    position:absolute;
  left:calc(50% - (var(--thumbsize)/2));
  top:calc(((var(--thumbsize) - var(--trackheight))/-2) - 2px);
  color:white;
  font-family:var(--mainfont);
  font-size:1.1rem;
  font-weight:normal;
  border:0 none;
    pointer-events:none;
}
.vertical .slidervalue {
  transform:rotate(90deg);
}
.customrange {
  cursor:pointer;
  height:100%;
  width:var(--tracksize);
  opacity:0.05;
}

a:link, a:visited {
  color:var(--accentcolor);
}
a:hover {color:#090;}


